.messenger{

}
.messenger-top{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    border-bottom: 1px solid gray;
    padding:0px  16px 16px 32px;
}
.messenger-top span{
    font-size: 18px;
    font-weight: 500;
}