.messenger{
    height: calc(90vh - 35px);
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 60px auto;
    box-sizing: border-box;
    flex-direction: column;
}
.messenger-top{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    border-bottom: 1px solid gray;
    padding:0px  16px 8px 16px;
}

@media (width<750px) {
    .messenger{
        height: calc(100vh - 32px);
    }
}
.messenger-top span{
    font-size: 18px;
    font-weight: 500;
}
.messenger-body{
    display: grid;
    width: 100%;
    flex: 1 1 auto;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}
.chat-thumbnail{
    width: 100%;
    height: 80px;
    display: flex;
    gap: 12px;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid rgb(145, 145, 145); */
    border-right: transparent;
    border-top: 1px solid transparent;
    padding: 0px 12px;
    box-shadow: 2px -2px 4px rgb(200, 199, 199) inset;
}
.chat-thumbnail:hover{
    background-color: rgb(229, 226, 226);
    color: black;
}
.chat-thumbnail div{
    display: flex;
    flex-direction: column;
}
.chat-thumbnail p{
    font-size: 18px;
    font-weight: 500;
}
.chat-thumbnail span{
    font-size: 12px;
}
.chats{
    height: calc(100%-100px);
    box-sizing: border-box;
    overflow-y: scroll;
    border-right: 2px solid lightgray;
}
.chats::-webkit-scrollbar{
    display: block;
    width: 2px;
}
.chats::-webkit-scrollbar-thumb{
    background-color: teal;
}
.Active-chat-thumbnail{
   background-color: teal;
   color: black;
   box-shadow: none;
}
.Active-chat-thumbnail:hover{
    background-color: teal;
   color: black;
}
.chat{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;   

}
.chat-top{
    padding: 1px 5px;
    display: flex;
    height: 50px;
    background-color: rgb(228, 228, 228);
    /* background-color: rgb(38, 158, 158); */
    /* border-bottom: 2px solid lightgray; */
    justify-content: space-between;
}
.chat-top>div{
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}
.chat-bottom{
    background-color: whitesmoke;
    /* background-color: rgb(0, 51, 51); */
    display: flex;
    align-items: center;
}
.chat-bottom{
   height: 50px;
}
.chat-bottom p{
    margin: 2px 8px;
    font-size: 14px;
    color: rgb(2, 154, 154);
}
.chat-input{
    width: 60%;
    background-color: #d8d7d4;
    padding-left: 4px !important;
    border-radius: 10px;
}
.chat-input *{
    padding: 2px !important;
    border: transparent !important;
    border-radius: 8px !important;
}
.chat-input textarea{
    border: transparent;
    max-height: 98%;
}
.chat-input-send{
    margin: 2px 4px;
    border-radius: 50%;
    background-color: teal;
    color: white;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}
.chat-input-send:hover{
    background-color: rgb(1, 58, 58);
}
.message{
    display: flex;
    width: 100%;
    margin: 6px 0px;
    font-weight: 100;
    padding: 2px 4px;
   
}
.right-message{
    justify-content: flex-end;

}
.message-content{
    background-color: teal;
    padding: 4px 6px;
    border-radius: 8px;
    color: white;
}
.left-message > .message-content{
    background-color: #3f3f3f;
    color: white;
    border-top-left-radius: 0px;
}
.right-message > .message-content{
    border-top-right-radius: 0px;
}
.chat-body{
    display: flex;
    flex-direction: column-reverse;
    height: calc(100vh - 192px);
    box-sizing: border-box;
    overflow-y: scroll;
}