.peoplejs{
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    height: calc(100svh - 50px);
    width: 100vw;
}
.peopljs-category{
    background-color: white;
    max-width: 500px;
    height: 100%;
}
.peopljs-category .active{
    background-color: aliceblue;
}
.peoplejs-users{
    padding: 10px;
    flex: 1;
    height: calc(100svh - 50px);
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: scroll;
    display: flex;
    gap: 14px;
    align-items: flex-start;
    background-color: white;
}

@media (width<720px){
    .peoplejs{
        flex-direction: column;
        align-items: flex-start;
    }
    .peopljs-category{
        width: 100%;
        max-width: none;
        height: fit-content;
    }
    .peoplejs-users{
        flex: none;
        height: fit-content;
    }
}