.profilepage{
    margin-top: 50px;
    width: 100vw;
    background-color: var(--light);
}
.cover-image{
    background-color: rgb(23, 23, 65);
    width: 100%;
    height: 120px;
    padding-top: 60px;
    padding-left: 60px;
}
.profile-pic{
    background-color: var(--light);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
}
.profile-pic div{
    width: 100%;
    height: 100%;
}
.cover-image-coverup{
    width: 100%;
    height: 100px;
    padding-left: 190px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom:1px solid gray ;
    justify-content: space-between;
}
.cover-image-coverup div{
    font-size: 24px;
    font-weight: 500;

}
.cover-image-coverup p{
    color: gray;
    font-weight: 400;
    font-size: 16px;
}
.cover-image-coverup button{
    height: fit-content;
    margin: 0px 15px;
}
.profile-page-body{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
    padding: 12px 60px;
}
.profile-page-body .left span{
    color: blueviolet;
    font-weight: 600;
    padding: 6px;
    margin-bottom: 6px;
    border-bottom: 2px solid blueviolet;
}
.profile-page-body .about{
    margin-top: 12px;
    min-width: 300px;
    width: 40vw;
}
.profile-page-body >.left> p{
    font-weight: 600;
    width: max-content;
    margin:30px 0px;
}
.profile-page-body .background{
    border: 2px solid rgba(211, 211, 211, 0.738);
    border-radius: 12px;
    width: 40vw;
    padding: 8px 0px;
    display: flex;
    flex-direction: column;
}
.background-row{
    width: 100%;
    height: 30px;
    display: grid;
    color: gray;
    grid-template-columns: 2fr 3fr;
}
.background-left{
    border-right: 2px solid rgba(211, 211, 211, 0.638);
    padding-left: 8px;
}
.background-right{
    color: black;
    padding-left: 8px;
}
.background-right p{
    background-color: rgb(199, 176, 222);
    padding: 2px 8px;
    font-weight: 300;
    width: max-content;
    border-radius: 8px;
}
@media (width<600px){
    .cover-image-coverup{
        height: 150px;
        justify-content: flex-end;
    }
    .cover-image-coverup > button{
        margin: 0px;
        justify-self: flex-end;
    }

    .profile-page-body{
        padding: 12px;
    }
    .profile-page-body .background{
        width: 95vw;
        min-width: 100px;
    }
    

}
.profile-page-body>.right{
    border: 2px solid rgba(211, 211, 211, 0.750);
    min-width: 250px;
    width: 400px;
    height: 100%;
    border-radius: 10px;
    margin-top: 10px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    min-height:100px;
}
.profile-page-body > .right > :nth-child(1){
    color: rgb(18, 13, 34);
    font-weight: 500;
}
.profile-page-body > .right > :nth-child(2){
    margin-top: 6px;
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}

.profile-page-body > .right > :nth-child(2) > span{
   color: var(--light);
   background-color: teal;
    border-radius: 6px;
    padding: 2px 6px;
}
.profile-page-post{
    display: flex;
    width: 98%;
    flex-wrap: wrap;
    margin: auto;
    gap: 15px;
    justify-content: center;
}

.profile-page-post-title{
    font-size: 32px;
    font-weight: 600;
    color: rgb(23, 23, 65);
    margin:32px auto;
    background-color: var(--light);
    color: black;
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    padding: 1px 10px;
}

.editProfile .upload-file{
    width: 80%;
    border: 1px solid lightgray;
    border-radius: 6px;
    font-size: 18px;
    color: teal;
    padding: 4px 8px;
}
.preview-Image{
    width: 60%;
    border: 1px solid rgb(206, 206, 206);
}
.editprofile-div{
    width: 80%;
    display: flex;
    background-color: whitesmoke;
    box-shadow: 0px 0px 2px whitesmoke;
    justify-content: space-between;
    border-radius: 6px;
    font-size: 18px;
    padding: 4px 8px;
}
.icons-back{
    display: flex;
    width: 30px !important;
    height: 30px;
    background-color: #e4e6eb;
    align-items: center;
    border-radius: 50%;
    margin: 10px;
    justify-content: center;
}

.usercard{
    /* max-width: 200px; */
    border: 1px solid lightgray;
    min-width: 150px;
    width: calc(9% + 12px);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.usercard button{
    font-size: 12px;
}

.usercard-img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    border-radius: 10px 10px 0px 0px;
}
.usercard-img img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    
}
.usercard-username{
    text-align: center;
    width:calc(100%);
    box-sizing: border-box;
    text-overflow: ellipsis;
    text-wrap:nowrap;
    font-weight: 600;
    overflow:hidden;
    white-space:nowrap;
    display:inline-block;
    text-overflow:ellipsis;
    font-size: 14px;
}
.usercard p{
    text-align: center;
    color: gray;
    font-size: 12px;
}
.usercard-container{
    display: flex;
    gap: 15px;
    padding: 10px;
    flex-wrap: wrap;
}
.usercard-skelton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.usercard-empty{
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
    color: gray;
    text-align: center;
}
.usercard>a{
   
}